/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
  width: 100%;
  height:100px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
header img{
  margin-top: 5px;
  height: 90px;
  width: 90px;
}

.search-book{
  margin: 35px 20px;
  height: 30px
}
footer{
  margin-top: 30px;
  background-color: #f5f5dc;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerlogo{
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

@media screen and (max-width: 576px){
  .xs-1rem{
    font-size: 1rem;
  }
  .xs-d-none{
    display: none;
  }
}

@media screen and (max-width: 767px){
  .sm-d-none{
    display: none;
  }
}