// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.text-area{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-area-input{
  height: 150px;
}
