// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment-container img{
  width: 100x;
  height: 100px;
}
.text-area-label{
  font-size: 20px;
}