// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-word-position{
  top: 40%;
  left: 25%;
}
.recommend-position{
  top: 75%;
  left: 50%;
}
